{{!-- <html>
  <body style="font-family: Arial, sans-serif; color: #333;">
    <h2>🚨 New Visitor Alert</h2>
    <p>Someone just visited your platform.</p>
    <p><b>Page:</b> {{page}}</p>
    <p><b>Visitor Info:</b> {{ip}}</p>
    <p><b>Time:</b> {{date}}</p>
    <hr />
    <small>This is an automated notification from your platform.</small>
  </body>
</html> --}}



<html>
  <body style="font-family: Arial, sans-serif; color: #333;">
    <h2>🚨 New Visitor Alert</h2>
    <p>Someone just visited your platform.</p>
    <p><b>Page:</b> {{page}}</p>
    <p><b>Visitor IP:</b> {{ip}}</p>
    <p><b>Location:</b> {{location}}</p>
    <p><b>Time:</b> {{date}}</p>
    <hr />
    <small>This is an automated notification from your platform.</small>
  </body>
</html>
